<% content_for :javascript_includes do %>
  <%= javascript_include_tag "jquery.animate-enhanced.js" %>
  <%= javascript_include_tag "animate.js" %>
<% end %>

<div data-role="header">
  <h1>バトル</h1>
  <%= link_to "進む", battle_result_path,
    {"data-icon" => "arrow-r", "data-transition" => "slide", "class" => "ui-btn-right"}
  %>
</div>

<br>
<div id="img_l", style="position:relative", align="center">
  <%= image_tag(@player_card.image) %>
</div>
<div id="text", style="position:relative", align="center">
  <b>対<b>
</div>
<div id="img_r", style="position:relative", align="center">
  <%= image_tag(@opponent_card.image) %>
</div>
