<div data-role="header">
  <h1>プレイヤー情報を更新する</h1>
</div>

<%= form_for(@player) do |f| %>
  <%= render 'shared/error_messages' %>
  <div class="field">
    <%= f.label :name, "名前" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email, "メール" %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "パスワード確認" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>

